
<div class="container-fluid product-management mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="add-product mb-4">
        <button class="btn btn-primary btn-lg"><i class="fas fa-plus"></i> Add Product</button>
      </div>

      <div class="product-list table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="/images/product-09.jpg" alt="Product 1" class="rounded img-thumbnail"></td>
              <td>Product 1</td>
              <td>A short description of product 1.</td>
              <td>$19.99</td>
              <td>
                <button class="btn btn-sm btn-info"><i class="fas fa-edit"></i> Edit</button>
                <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Delete</button>
              </td>
            </tr>
            <tr>
              <td><img src="/images/product-10.jpg" alt="Product 2" class="rounded img-thumbnail"></td>
              <td>Product 2</td>
              <td>A short description of product 2.</td>
              <td>$24.99</td>
              <td>
                <button class="btn btn-sm btn-info"><i class="fas fa-edit"></i> Edit</button>
                <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Delete</button>
              </td>
            </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
