
	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="profile" class="profile">
				<img src="img/people.png">
			</a>
		</nav>

		
		<!-- NOTIFICATION BALLOON -->
<div id="notificationBalloon" class="notification-balloon">
  <span class="notification-content"><ul>
	<li>notification 1</li>
	<li>notification 1</li>
	<li>notification 1</li>
  </ul></span>
</div>


<script>
// Get the notification balloon element
// Get the notification balloon element
var notificationBalloon = document.getElementById("notificationBalloon");

// Get the bell icon element
var bellIcon = document.querySelector(".notification");

// Function to toggle the notification balloon visibility
function toggleNotification() {
  if (notificationBalloon.style.display === "none") {
    notificationBalloon.style.display = "block";
  } else {
    notificationBalloon.style.display = "none";
  }
}

// Event listener for clicking the bell icon to toggle the notification balloon
bellIcon.onclick = toggleNotification;


</script>
