
	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->


		
		<!-- NOTIFICATION BALLOON -->
<div id="notificationBalloon" class="notification-balloon">
  <span class="notification-content"><ul>
	<li>notification 1</li>
	<li>notification 1</li>
	<li>notification 1</li>
  </ul></span>
</div>


