	<!-- Footer -->
	<footer class="bg3 p-t-5 p-b-5">
		<div class="container pl-2 ">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-10">
					<h4 class="stext-301 cl0 p-b-10">
						Categories
					</h4>

					<ul>

						{{#each category}}
						<li class="p-b-10">
							
							<a href="categoryget?id={{this.name}}" class="stext-107 cl7 hov-cl1 trans-04">
								{{this.name}}
							</a>
						</li>
						{{/each}}


					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-10">
					<h4 class="stext-301 cl0 p-b-10">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="trackorder" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="product" class="stext-107 cl7 hov-cl1 trans-04">
								Shop
							</a>
						</li>

						<li class="p-b-10">
							<a href="about" class="stext-107 cl7 hov-cl1 trans-04">
								About
							</a>
						</li>
						<li class="p-b-10">
							<a href="contact" class="stext-107 cl7 hov-cl1 trans-04">
								Contact Us
							</a>
						</li>
						<li class="p-b-10">
							<a href="help" class="stext-107 cl7 hov-cl1 trans-04">
								FAQ
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-10">
					<h4 class="stext-301 cl0 p-b-10">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Jcclub ,Shop No 3 , Parambil Buildings ,Areekode   or call us on 91 9947937009
					</p>

					<div class="p-t-27">
						<a href="https://www.instagram.com/jc__club/?hl=en" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="https://www.instagram.com/jc__club/?hl=en" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="https://www.instagram.com/jc__club/?hl=en" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-10">
					<h4 class="stext-301 cl0 p-b-10">
						Newsletter
					</h4>

<form id="subscription-form">
    <div class="wrap-input1 w-full p-b-4">
        <input class="input1 bg-none plh1 stext-107 cl7" type="email" name="email" id="email" placeholder="email@example.com">
        <div class="focus-input1 trans-04"></div>
    </div>
    <div class="p-t-18">
        <button type="submit" class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04 bg-dark">
            Subscribe
        </button>
    </div>
</form>

				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-10">
					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>
