<!-- breadcrumb -->
	<div class="container" style="margin-top: 0vh;">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a  class="stext-109 cl8 hov-cl1 trans-04">
				About
			</a>
		</div>
	</div>


	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92 mt-4" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Welcome to JC Club, your ultimate online destination for all things sports-related! Established in 2018, we started our journey by offering premium jerseys through Instagram and WhatsApp. Now, in 2023, we have expanded our product range and proudly present our new website, jcclub.in.
						</p>

						<p class="stext-113 cl6 p-b-26">
						Our commitment to delivering excellence extends beyond our product offerings. We strive to provide an exceptional online shopping experience for our valued customers. With our user-friendly website, you can easily navigate through our extensive collection and find the perfect gear for your favorite sport.
						</p>
						<p class="stext-113 cl6 p-b-26">
						We value your time and understand the excitement of receiving your purchase promptly. That's why we partner with the best courier services to ensure swift and reliable delivery to your doorstep. Rest assured, we go the extra mile to make sure your order reaches you in pristine condition and within the promised time frame.

						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="images/about-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							At JC Club, quality is our top priority. We understand that sports enthusiasts deserve the very best, and that's why we curate a wide selection of high-quality products that cater to a variety of sports. Whether you're a football fanatic, a basketball lover, or a fitness enthusiast, we have everything you need to support your passion.
						</p>
						<p class="stext-113 cl6 p-b-26">
							At JC Club, we believe in fostering a community of sports enthusiasts who share a common love for the game. Join us as we celebrate the spirit of sportsmanship, camaraderie, and dedication. Whether you're a professional athlete, a weekend warrior, or a passionate fan, we have something special just for you.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
							</p>

							<span class="stext-111 cl8">
								- Steve Job’s 
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="images/about-02.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
		

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
