<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form  action="/final-checkout" id="payment-form" method="post">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" name="fname" placeholder="" value="" required>
                        <small class="text-danger invalid-feedbacks"></small>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" name="lname" placeholder="" value="" required>
                        <small class="invalid-feedbackd text-danger"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com">
                    <small class="invalid-feedbacke text-danger"></small>
                </div>
                <div class="mb-3">
                    <label for="number">Contact Number </label>
                    <input type="tel" class="form-control" name="number" id="number" placeholder="9999999999">
                    <small class="invalid-feedbackdd text-danger"></small>
                </div>
                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="adress" placeholder="1234 Main St" required>
                    <small class="invalid-feedbackv text-danger"></small>
                </div>
                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" name="adress2" id="address2" placeholder="Apartment or suite">
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <select class="custom-select d-block w-100" name="state" id="state" required>
                            <option value="">Choose...</option>
                            <option>Kerala</option>
                        </select>
                        <div class="invalid-feedback"> Please provide a valid state. <span class="error-message"></span></div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" name="zip" placeholder="" required>
                        <small class="invalid-feedbackff text-danger"></small>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="saveadress" id="same-address">
                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                </div>
                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>
                <div class="d-block my-3">

                <div class="custom-control custom-radio">
                    <input id="COD" name="paymentMethod" type="radio" class="custom-control-input" value="COD" required>
                <label class="custom-control-label" for="COD">COD</label>
            </div>
                    <div class="custom-control custom-radio">
            <input id="Online" name="paymentMethod" type="radio" class="custom-control-input" value="Online" required>
                 <label class="custom-control-label" for="Online">Online Payment</label>
             {{!-- <button class="btn btn-dark btn-pay-now btn-sm mx-4" onclick="payNow({{cart.carttotal}})" type="button">Pay Now</button> --}}

                </div>

                </div>
                <hr class="mb-4">
                <button class="btn btn-dark btn-lg btnsubmit btn-COD  btn-block" type="submit">Continue to checkout</button>
                <button class="btn btn-dark btn-lg btnsubmit btn-pay-now  btn-block" onclick="payNow({{cart.carttotal}})" type="button">Pay And Checkout</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $(document).ready(function() {
        $('.btn-pay-now').hide();
        function togglePayNowButton() {
        if ($('#Online').is(":checked")) {
            $('.btn-COD').hide();
            $('.btn-pay-now').show();
// Disable the "Continue to checkout" button
        } else 
        if($('#COD').is(":checked"))
        {
                $('.btn-pay-now').hide();
                $('.btn-COD').show();
                $('.btnsubmit').prop('disabled', false); // Enable the "Continue to checkout" button
        }
        
    }
        togglePayNowButton();
        $("#Online,#COD").on('change', function(event) {
        togglePayNowButton();
    });

        // Function to validate the form
        function validateForm() {
            const firstName = $('#firstName').val().trim();
            console.log(firstName)
            const lastName = $('#lastName').val().trim();
            console.log(lastName)
            const email = $('#email').val().trim();
            console.log(email)
            const phno = $('#number').val().trim();
            console.log(phno)
            const address = $('#address').val().trim();
            console.log(address)
            const zip = $('#zip').val().trim();
            console.log(zip)

            let isValid = true;

            // Validate first name
            if (firstName === '' )  {
                isValid = false;
                $('#firstName').next('.invalid-feedbacks').text('First name should not be empty');
            } else if (!isValidName(firstName)) {
                isValid = false;
                $('#firstName').next('.invalid-feedbacks').text('First name should not contain numbers and be less than 15 characters.');
            } else {
                $('#firstName').next('.invalid-feedbacks').text('');
            }
            if (lastName === '' )  {
                isValid = false;
                $('.invalid-feedbackd').text('Last name should not be empty');
            } else if (!isValidName(lastName)) {
                isValid = false;
                $('.invalid-feedbackd').text('Last name should not contain numbers and be less than 15 characters.');
            } else {
                $('.invalid-feedbackd').text('');
            }

            // Validate email
            if (email === '' || !isValidEmail(email)) {
                isValid = false;
                $('.invalid-feedbacke').text('Please enter a valid email address.');
            } else {
                $('.invalid-feedbacke').text('');
            }

            if (phno === '' || ! isValidNumber(phno) ) {
                isValid = false;
                $('.invalid-feedbackdd').text('Please enter a valid phone number ');
            } else {
                $('.invalid-feedbackdd').text('');
            }

            // Validate address
            if (address === '' && address.length  < 10) {
                isValid = false;
                $('.invalid-feedbackv').text('Address is required.');
            } else {
                $('.invalid-feedbackv').text('');
            }

            // Validate zip code
            if (zip === '' && zip.length !==6) {
                isValid = false;
                $('#zip').next('.invalid-feedback').text('Zip code should be 6 charecters');
            } else {
                $('#zip').next('.invalid-feedback').text('');
            }

            return isValid;
        }

        // Function to validate name format
        function isValidName(name) {
            const nameRegex = /^[a-zA-Z\s]*$/;
            return nameRegex.test(name) && name.length < 10;
        }
        function isValidNumber(phoneNumber) {
         const phoneRegex = /^\d{10}$/;
        return phoneRegex.test(phoneNumber);
        }

        // Function to validate email format
        function isValidEmail(email) {
            // Regular expression for email validation
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }

        // Event listeners for input fields
        $('#firstName, #lastName, #email, #address, #zip,#number').on('input', function() {
            validateForm();
        });

        // Event listener for form submission
        $('form').on('submit', function(event) {
            // Prevent form submission if validation fails
            if (!validateForm()) {
                event.preventDefault();
            }
        });
    });

    function payNow(amount) {
    console.log(amount);
    var formData = {
        amount: amount
    };
    $.ajax({
        url: "/payment",
        method:"POST",
        data: formData,
        success: function (data) {
            var options = {
                key: data.key_id,
                amount: data.amount,
                currency: "INR",
                order_id: data.order_id,
                handler: function (response) {
                alert("Payment successful");
                document.getElementById('payment-form').submit();
                }
            };
            var razorpayObject = new Razorpay(options);
            razorpayObject.on('payment.failed', function (response) {
                alert("Payment Failed");
            });
            razorpayObject.open();
        },
        error: function (err) {
            alert("Error occurred: " + err);
        }
    });
}

</script>
