<!-- breadcrumb -->
	<div class="container" style="margin-top: 0vh;">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a  class="stext-109 cl8 hov-cl1 trans-04">
				Contact Us
			</a>
		</div>
	</div>

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg'); margin-top: 12vh;">
		<h2 class="ltext-105 cl0 txt-center">
			Contact
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="flex-w flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
					<form id="contact-form">
                        <h4 class="mtext-105 cl2 txt-center p-b-30">
                            Send Message
                        </h4>

                        <div class="bor8 m-b-20 how-pos4-parent">
                            <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" name="email" id="email" placeholder="Your Email Address" required>
                            <img class="how-pos4 pointer-none" src="images/icons/icon-email.png" alt="ICON">
                        </div>

                        <div class="bor8 m-b-30">
                            <textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="msg" id="msg" placeholder="How Can We Help?" required></textarea>
                        </div>

                        <button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                            Submit
                        </button>
                    </form>
				</div>

				<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Address
							</span>

							<p class="stext-115 cl6 size-213 p-t-18">
								Jcclub, Shop No 3, Parambil Buildings, Areekode
							</p>
						</div>
					</div>

					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Connect Us
							</span>

							<p class="stext-115 cl1 size-213 p-t-18">
								+91 99999999
							</p>
						</div>
					</div>

					<div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Sale Support
							</span>

							<p class="stext-115 cl1 size-213 p-t-18">
								customercare@jcclub.in
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	    <script>
        // Function to handle form submission
        document.getElementById('contact-form').addEventListener('submit', function (event) {
            event.preventDefault();
            // Validate form
            if (this.checkValidity()) {
                // Send email
                sendEmail();
            } else {
                // Form is invalid
                // Show validation error message or use browser's built-in validation messages
            }
        });

        // Function to send email
        function sendEmail() {
            // Dummy email sending process
            // You should replace this with your actual email sending process
            // Here, I'm using a setTimeout to simulate sending email process
            setTimeout(function () {
                // Show SweetAlert notification
                Swal.fire({
                    title: 'Success!',
                    text: 'Your message will be replied ASAP.',
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
                // Reset form after successful submission
                document.getElementById('contact-form').reset();
            }, 2000); // 2000 milliseconds = 2 seconds
        }
    </script>
	    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
