<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jcclub | Login</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/logins/login-6/assets/css/login-6.css">
    <style>
        body {
            background-size: cover;
            background-color: rgb(207, 215, 223);
        }

        .hjk {
            height: 10vh;
            background-color: aqua;
        }
        @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #254061;
    overflow: hidden;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ff4040;
    top: 9%;
    left: 83%;
    animation-duration: 172s;
    animation-delay: -120s;
    transform-origin: 18vw 25vh;
    box-shadow: 2vmin 0 0.9152691879582233vmin currentColor;
}
.background span:nth-child(1) {
    color: #ff4040;
    top: 100%;
    left: 75%;
    animation-duration: 36s;
    animation-delay: -252s;
    transform-origin: 25vw -14vh;
    box-shadow: 2vmin 0 0.8725515636287574vmin currentColor;
}
.background span:nth-child(2) {
    color: #ccf2b9;
    top: 36%;
    left: 14%;
    animation-duration: 392s;
    animation-delay: -106s;
    transform-origin: 19vw -23vh;
    box-shadow: -2vmin 0 0.5247894986201279vmin currentColor;
}
.background span:nth-child(3) {
    color: #804480;
    top: 78%;
    left: 58%;
    animation-duration: 287s;
    animation-delay: -193s;
    transform-origin: 0vw 21vh;
    box-shadow: 2vmin 0 1.1886467595826018vmin currentColor;
}
.background span:nth-child(4) {
    color: #ff4040;
    top: 71%;
    left: 67%;
    animation-duration: 64s;
    animation-delay: -397s;
    transform-origin: 0vw -17vh;
    box-shadow: -2vmin 0 0.9982826005448613vmin currentColor;
}
.background span:nth-child(5) {
    color: #804480;
    top: 58%;
    left: 99%;
    animation-duration: 439s;
    animation-delay: -452s;
    transform-origin: 8vw -1vh;
    box-shadow: 2vmin 0 0.9925635199967189vmin currentColor;
}
.background span:nth-child(6) {
    color: #804480;
    top: 68%;
    left: 88%;
    animation-duration: 336s;
    animation-delay: -283s;
    transform-origin: 10vw 10vh;
    box-shadow: -2vmin 0 1.159474089589542vmin currentColor;
}
.background span:nth-child(7) {
    color: #804480;
    top: 35%;
    left: 79%;
    animation-duration: 383s;
    animation-delay: -34s;
    transform-origin: 15vw 5vh;
    box-shadow: 2vmin 0 1.0300395123032686vmin currentColor;
}
.background span:nth-child(8) {
    color: #804480;
    top: 26%;
    left: 89%;
    animation-duration: 388s;
    animation-delay: -251s;
    transform-origin: 14vw -17vh;
    box-shadow: 2vmin 0 0.8905626387170004vmin currentColor;
}
.background span:nth-child(9) {
    color: #ff4040;
    top: 82%;
    left: 43%;
    animation-duration: 99s;
    animation-delay: -469s;
    transform-origin: -15vw 23vh;
    box-shadow: -2vmin 0 0.9597727420498855vmin currentColor;
}
.background span:nth-child(10) {
    color: #804480;
    top: 43%;
    left: 85%;
    animation-duration: 246s;
    animation-delay: -318s;
    transform-origin: 9vw 21vh;
    box-shadow: -2vmin 0 0.7468135737987346vmin currentColor;
}
.background span:nth-child(11) {
    color: #ff4040;
    top: 88%;
    left: 59%;
    animation-duration: 358s;
    animation-delay: -438s;
    transform-origin: -24vw -14vh;
    box-shadow: 2vmin 0 0.6741388604903825vmin currentColor;
}
.background span:nth-child(12) {
    color: #ff4040;
    top: 1%;
    left: 42%;
    animation-duration: 49s;
    animation-delay: -443s;
    transform-origin: -5vw -18vh;
    box-shadow: 2vmin 0 0.7752003101905035vmin currentColor;
}
.background span:nth-child(13) {
    color: #ff4040;
    top: 67%;
    left: 57%;
    animation-duration: 342s;
    animation-delay: -440s;
    transform-origin: 3vw -2vh;
    box-shadow: -2vmin 0 1.23395634436673vmin currentColor;
}
.background span:nth-child(14) {
    color: #804480;
    top: 14%;
    left: 42%;
    animation-duration: 490s;
    animation-delay: -205s;
    transform-origin: 19vw 5vh;
    box-shadow: -2vmin 0 0.4840943322383895vmin currentColor;
}
.background span:nth-child(15) {
    color: #ff4040;
    top: 59%;
    left: 13%;
    animation-duration: 249s;
    animation-delay: -375s;
    transform-origin: 17vw 14vh;
    box-shadow: -2vmin 0 0.8791733809808729vmin currentColor;
}
.background span:nth-child(16) {
    color: #ccf2b9;
    top: 30%;
    left: 68%;
    animation-duration: 439s;
    animation-delay: -214s;
    transform-origin: 16vw 15vh;
    box-shadow: -2vmin 0 0.53565112062052vmin currentColor;
}
.background span:nth-child(17) {
    color: #ff4040;
    top: 31%;
    left: 84%;
    animation-duration: 109s;
    animation-delay: -229s;
    transform-origin: 19vw 13vh;
    box-shadow: -2vmin 0 0.8065085169146192vmin currentColor;
}
.background span:nth-child(18) {
    color: #ccf2b9;
    top: 19%;
    left: 95%;
    animation-duration: 213s;
    animation-delay: -85s;
    transform-origin: -13vw 6vh;
    box-shadow: 2vmin 0 0.30301439721706946vmin currentColor;
}
.background span:nth-child(19) {
    color: #ff4040;
    top: 13%;
    left: 52%;
    animation-duration: 365s;
    animation-delay: -63s;
    transform-origin: 14vw -17vh;
    box-shadow: -2vmin 0 0.8734951616620594vmin currentColor;
}
.background span:nth-child(20) {
    color: #804480;
    top: 46%;
    left: 87%;
    animation-duration: 135s;
    animation-delay: -160s;
    transform-origin: -19vw 13vh;
    box-shadow: 2vmin 0 0.8268839965771175vmin currentColor;
}
.background span:nth-child(21) {
    color: #ff4040;
    top: 45%;
    left: 25%;
    animation-duration: 215s;
    animation-delay: -160s;
    transform-origin: -2vw -15vh;
    box-shadow: -2vmin 0 0.27507155653810833vmin currentColor;
}
.background span:nth-child(22) {
    color: #ff4040;
    top: 96%;
    left: 60%;
    animation-duration: 200s;
    animation-delay: -216s;
    transform-origin: -22vw 25vh;
    box-shadow: 2vmin 0 0.4253061533816639vmin currentColor;
}
.background span:nth-child(23) {
    color: #ccf2b9;
    top: 96%;
    left: 5%;
    animation-duration: 32s;
    animation-delay: -283s;
    transform-origin: -21vw -1vh;
    box-shadow: -2vmin 0 0.3290317205018114vmin currentColor;
}
.background span:nth-child(24) {
    color: #804480;
    top: 13%;
    left: 85%;
    animation-duration: 147s;
    animation-delay: -167s;
    transform-origin: -19vw -7vh;
    box-shadow: -2vmin 0 0.6564794761871784vmin currentColor;
}
.background span:nth-child(25) {
    color: #ff4040;
    top: 43%;
    left: 54%;
    animation-duration: 348s;
    animation-delay: -348s;
    transform-origin: -12vw -20vh;
    box-shadow: -2vmin 0 0.7239477066645182vmin currentColor;
}
.background span:nth-child(26) {
    color: #ff4040;
    top: 68%;
    left: 14%;
    animation-duration: 51s;
    animation-delay: -329s;
    transform-origin: -1vw 7vh;
    box-shadow: -2vmin 0 0.6723359489676523vmin currentColor;
}
.background span:nth-child(27) {
    color: #ff4040;
    top: 28%;
    left: 92%;
    animation-duration: 239s;
    animation-delay: -403s;
    transform-origin: 18vw -1vh;
    box-shadow: 2vmin 0 0.5359951028500695vmin currentColor;
}
.background span:nth-child(28) {
    color: #804480;
    top: 90%;
    left: 36%;
    animation-duration: 166s;
    animation-delay: -3s;
    transform-origin: -15vw 3vh;
    box-shadow: -2vmin 0 0.8920050198634238vmin currentColor;
}
.background span:nth-child(29) {
    color: #ff4040;
    top: 45%;
    left: 94%;
    animation-duration: 215s;
    animation-delay: -147s;
    transform-origin: 4vw -17vh;
    box-shadow: -2vmin 0 0.5512130423212301vmin currentColor;
}
.background span:nth-child(30) {
    color: #ccf2b9;
    top: 30%;
    left: 46%;
    animation-duration: 92s;
    animation-delay: -441s;
    transform-origin: 17vw 18vh;
    box-shadow: -2vmin 0 1.1219003764096025vmin currentColor;
}
.background span:nth-child(31) {
    color: #ccf2b9;
    top: 32%;
    left: 64%;
    animation-duration: 464s;
    animation-delay: -147s;
    transform-origin: -11vw -23vh;
    box-shadow: 2vmin 0 0.5155982993887783vmin currentColor;
}
.background span:nth-child(32) {
    color: #804480;
    top: 25%;
    left: 92%;
    animation-duration: 426s;
    animation-delay: -297s;
    transform-origin: -14vw 18vh;
    box-shadow: -2vmin 0 0.5301389441060539vmin currentColor;
}
.background span:nth-child(33) {
    color: #ff4040;
    top: 94%;
    left: 88%;
    animation-duration: 475s;
    animation-delay: -170s;
    transform-origin: 6vw -24vh;
    box-shadow: 2vmin 0 0.49129372302578167vmin currentColor;
}
.background span:nth-child(34) {
    color: #ccf2b9;
    top: 51%;
    left: 63%;
    animation-duration: 442s;
    animation-delay: -189s;
    transform-origin: -22vw -23vh;
    box-shadow: 2vmin 0 1.1574126486600722vmin currentColor;
}
.background span:nth-child(35) {
    color: #ccf2b9;
    top: 44%;
    left: 26%;
    animation-duration: 79s;
    animation-delay: -344s;
    transform-origin: -11vw 21vh;
    box-shadow: -2vmin 0 0.46564902737951164vmin currentColor;
}
.background span:nth-child(36) {
    color: #804480;
    top: 16%;
    left: 82%;
    animation-duration: 335s;
    animation-delay: -410s;
    transform-origin: -15vw -11vh;
    box-shadow: -2vmin 0 0.8235281742150397vmin currentColor;
}
.background span:nth-child(37) {
    color: #ccf2b9;
    top: 44%;
    left: 21%;
    animation-duration: 23s;
    animation-delay: -460s;
    transform-origin: 24vw 5vh;
    box-shadow: -2vmin 0 0.6600100532625902vmin currentColor;
}
.background span:nth-child(38) {
    color: #804480;
    top: 32%;
    left: 40%;
    animation-duration: 55s;
    animation-delay: -321s;
    transform-origin: -20vw -13vh;
    box-shadow: -2vmin 0 0.6917822895263822vmin currentColor;
}
.background span:nth-child(39) {
    color: #804480;
    top: 34%;
    left: 98%;
    animation-duration: 26s;
    animation-delay: -83s;
    transform-origin: -10vw -18vh;
    box-shadow: 2vmin 0 0.5922675612783292vmin currentColor;
}
.background span:nth-child(40) {
    color: #ccf2b9;
    top: 27%;
    left: 42%;
    animation-duration: 74s;
    animation-delay: -365s;
    transform-origin: -24vw -10vh;
    box-shadow: 2vmin 0 1.0609244274327074vmin currentColor;
}
.background span:nth-child(41) {
    color: #804480;
    top: 16%;
    left: 50%;
    animation-duration: 138s;
    animation-delay: -136s;
    transform-origin: -23vw 3vh;
    box-shadow: 2vmin 0 0.9828556387296975vmin currentColor;
}
.background span:nth-child(42) {
    color: #ccf2b9;
    top: 86%;
    left: 42%;
    animation-duration: 310s;
    animation-delay: -376s;
    transform-origin: 22vw -3vh;
    box-shadow: 2vmin 0 0.35518701131334207vmin currentColor;
}
.background span:nth-child(43) {
    color: #ff4040;
    top: 63%;
    left: 99%;
    animation-duration: 223s;
    animation-delay: -189s;
    transform-origin: -20vw -1vh;
    box-shadow: 2vmin 0 0.9089100860448113vmin currentColor;
}
.background span:nth-child(44) {
    color: #ff4040;
    top: 47%;
    left: 4%;
    animation-duration: 489s;
    animation-delay: -404s;
    transform-origin: 17vw 4vh;
    box-shadow: 2vmin 0 1.014747207662964vmin currentColor;
}
.background span:nth-child(45) {
    color: #ff4040;
    top: 34%;
    left: 59%;
    animation-duration: 466s;
    animation-delay: -234s;
    transform-origin: 3vw -5vh;
    box-shadow: -2vmin 0 0.9206849089555448vmin currentColor;
}
.background span:nth-child(46) {
    color: #ccf2b9;
    top: 57%;
    left: 1%;
    animation-duration: 256s;
    animation-delay: -6s;
    transform-origin: 2vw -1vh;
    box-shadow: -2vmin 0 0.779050068589645vmin currentColor;
}
.background span:nth-child(47) {
    color: #804480;
    top: 48%;
    left: 69%;
    animation-duration: 347s;
    animation-delay: -366s;
    transform-origin: -7vw 20vh;
    box-shadow: -2vmin 0 0.5914030723938485vmin currentColor;
}
.background span:nth-child(48) {
    color: #804480;
    top: 80%;
    left: 13%;
    animation-duration: 244s;
    animation-delay: -173s;
    transform-origin: 2vw 22vh;
    box-shadow: -2vmin 0 0.9571383045196744vmin currentColor;
}
.background span:nth-child(49) {
    color: #ccf2b9;
    top: 76%;
    left: 69%;
    animation-duration: 478s;
    animation-delay: -395s;
    transform-origin: 25vw 9vh;
    box-shadow: 2vmin 0 1.1090476015252704vmin currentColor;
}

    </style>
</head>
<body>
    <div class="background">
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
</div>
    <section  class=" pb-md-5 ">
        <div style="margin-top: 20vh;" class="container">
            <div class="row justify-content-center">
                <div class="col-11 col-md-9 col-lg-5 col-xl-5 col-xxl-5">
                    <div class="card border-0 bg-light shadow-lg rounded-4">

                        <div class="card-body p-3 p-md-4 p-xl-5">
                            
                                                        <div class="row">
                                <div class="col-12 text-center">
                                    <div class="mt-sm-1 m-4">
                                        <h5 style="font-family:Georgia, 'Times New Roman', Times, serif ;">Login with OTP</h5>
                                    </div>
                                </div>
                            </div>
                                                        <form>
                                <div class="row gy-1 overflow-hidden">
                                    <div class="col-12">
                                        <div class="form-floating mb-3 phnodiv">
                                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter your phone number" required>
                                            <label for="phone" class="form-label">Phone number</label>
                                        </div> 
                                        <div class="form-floating mb-3 otpdiv" style="display: none;">
                                            <input type="text" class="form-control" name="otp" id="otp" placeholder="Enter Otp " required>
                                            <label for="otp" class="form-label">OTP</label>
                                        </div> 
                                    </div>
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button id="login" class="btn bsb-btn-lg  btn-dark otpbtn" type="button" >Send OTP</button>
                                            <button id="otplog"  class="btn bsb-btn-lg btn-dark mt-2 loginbtn"  style="display: none;" type="button">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            {{!-- 
 --}}
                            <div class="row">
                                <div class="col-12">
                                    <hr class="mt-1 mb-3 border-secondary-subtle">
                                    <div class="d-flex  justify-content-end mb-2">
                                        <a href="resetpass" class="link-secondary text-decoration-none">Forgot password ?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <a><p class="mt-1 mb-3 link-secondary d-none d-sm-flex">New to jcclub?</p></a>
                                    <div class="d-flex gap-3 mb-2 flex-column ">
                                        <a href="signotp" class="btn bsb-btn-lg btn-dark">
                                            <span class="ms-2 fs-6   text-uppercase">Login With Mail Id</span>
                                        </a>
                                    </div>
                                    <div class="d-flex gap-3 flex-column mb-3">
                                        <a href="signup" class="btn bsb-btn-lg btn-dark">
                                            <span class="ms-2 fs-6 text-uppercase">Create account</span>
                                        </a>
                                    </div>
                                    <div class="d-flex gap-3 flex-column mb-3">

                                        <a href="/" class="btn bsb-btn-lg btn-dark ">
                                        <div class="d-flex justify-content-center align-items-center align-content-center   ">
                                            <div class="mb-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                                            </svg>

                                            </div>
                                            <div>
                                                <span class="ms-2 fs-6 text-uppercase">Home</span>
                                            </div>
                                        </div>
                                            
                                            
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{!-- <div class="row">
                                <div class="col-12">
                                    <p class="mt-1 mb-3">Or continue with</p>
                                    <div class="d-flex gap-3 flex-column">
                                        <a href="/auth/google" class="btn bsb-btn-xl btn-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                                <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                                            </svg>
                                            <span class="ms-2 fs-6 text-uppercase">Sign in With Google</span>
                                        </a>
                                        <a href="#!" class="btn bsb-btn-xl btn-primary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                                            </svg>
                                            <span class="ms-2 fs-6 text-uppercase">Sign in With Facebook</span>
                                        </a>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    $(document).ready(function() {
        $("#login").on('click', function(){
           const phoneNumber = $("#phone").val();
           console.log(phoneNumber)
          if(phoneNumber.length !=10 || isNaN(phoneNumber)){
            showToast("Enter Valid Phone Number", "error")
            
          }else{
            otps()
          }
        });
        $("#otplog").on('click', function(){
            login()
        })
        

        
        // Function to show toast notifications
        function showToast(message, type) {
            Toastify({
                text: message,
                duration: 3000,
                close: true,
                gravity: "bottom", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                backgroundColor: type === "error" ? "#AA0000" : "#33cc33",
            }).showToast();
        }

        // Check if there are any error messages on page load and show toast notifications accordingly
        var mailError = $("#mailError").text();
        var passwordError = $("#passwordError").text();
        if (mailError) {
            showToast(mailError, "error");
        }
        if (passwordError) {
            showToast(passwordError, "error");
        }

        // Clear error messages when typing in input fields
        $("#mail").on("input", function() {
            $("#mailError").text("");
        });
        $("#password").on("input", function() {
            $("#passwordError").text("");
        });
    });
        async function otps(){
        // Extract phone number input value
        const phoneNumber = document.getElementById("phone").value;
        document.querySelector(".phnodiv").style.display = "none";
        document.querySelector(".otpdiv").style.display = "";
        document.querySelector(".otpbtn").style.display = "none";
        document.querySelector(".loginbtn").style.display = "";
        
        // Send request to server
        try {
            const response = await axios.post('/send-otp-phone', { phone: phoneNumber });
            showToast(response.data.message, "success");           
        } catch (error) {
            // Handle error
            showToast("Failed to send OTP", "error");
        }
        
        // Hide phone number input and show OTP input and login button

    }


function showToast(message, type) {
            Toastify({
                text: message,
                duration: 3000,
                close: true,
                gravity: "bottom", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                backgroundColor: type === "error" ? "#ff4444" : "#33cc33",
            }).showToast();
        }


    async function login() {
    // Extract phone number and OTP input values
    const otp = document.getElementById("otp").value;
    const phoneNumber = document.getElementById("phone").value;
    console.log(otp)

    // Send request to server to verify OTP
    try {
        const response = await axios.post('/login-with-otp', { otp: otp ,phone:phoneNumber});
        
        // Check if login was successful
        if (response.data.success) {
            // If login is successful, redirect to dashboard or perform further actions
            showToast("Login successful. Redirecting...", "success");
            window.location.href = '/'
        } else {
            showToast("Incorrect OTP. Please try again.", "error");
        }
    } catch (error) {
        // Handle error
        showToast("Failed to login. Please try again.", "error");
    }
}

</script>
</body>
</html>
