<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jcclub | Login</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/logins/login-6/assets/css/login-6.css">
    <style>
        body {
            background-size: cover;
        }

        .hjk {
            height: 10vh;
            background-color: aqua;
        }
    </style>
</head>
<body>
    <section class="m-5 pb-md-5 p-xl-5  ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-6">
                    <div class="card border-0 shadow-lg rounded-4">
                        <div class="card-body p-3 p-md-4 p-xl-5">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <div class="mb-5">
                                        <h3>Login</h3>
                                    </div>
                                </div>
                            </div>
                            <form action="/login" method="post" onsubmit="return validateForm()">
                                <div class="row gy-1 overflow-hidden">
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" name="mail" id="mail" placeholder="name@example.com" required>
                                            <label for="mail" class="form-label">Email</label>
                                        </div> 
                                        <p id="mailError" style="font-size: .8rem;" class="text-danger" hidden>{{mailError}}</p>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" name="password" id="password" value="" placeholder="password" required>
                                            <label for="password" class="form-label">Password</label>
                                        </div>
                                        <p id="passwordError" style="color: red;" class="text-danger" hidden>{{passwordError}}</p> <!-- Error message for password -->
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" name="remember_me" id="remember_me">
                                            <label class="form-check-label text-secondary" for="remember_me">
                                                Keep me logged in
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button class="btn bsb-btn-2xl btn-dark" type="submit">Login</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-12">
                                    <hr class="mt-1 mb-3 border-secondary-subtle">
                                    <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
                                        <a href="resetpass" class="link-secondary text-decoration-none">Forgot password ?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <a><p class="mt-1 mb-3 link-secondary">New to jcclub?</p></a>
                                    <div class="d-flex gap-3 mb-2 flex-column ">
                                        <a href="signotp" class="btn bsb-btn-xl btn-dark">
                                            <span class="ms-2 fs-6  text-uppercase">Login With Phone Number</span>
                                        </a>
                                    </div>
                                    <div class="d-flex gap-3 flex-column">
                                        <a href="signup" class="btn bsb-btn-xl btn-dark">
                                            <span class="ms-2 fs-6 text-uppercase">Create your account</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{!-- <div class="row">
                                <div class="col-12">
                                    <p class="mt-1 mb-3">Or continue with</p>
                                    <div class="d-flex gap-3 flex-column">
                                        <a href="/auth/google" class="btn bsb-btn-xl btn-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                                <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                                            </svg>
                                            <span class="ms-2 fs-6 text-uppercase">Sign in With Google</span>
                                        </a>
                                        <a href="#!" class="btn bsb-btn-xl btn-primary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                                            </svg>
                                            <span class="ms-2 fs-6 text-uppercase">Sign in With Facebook</span>
                                        </a>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


<script>
    $(document).ready(function() {
        // Function to show toast notifications
        function showToast(message, type) {
            Toastify({
                text: message,
                duration: 3000,
                close: true,
                gravity: "bottom", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                backgroundColor: type === "error" ? "##FF0000" : "#33cc33",
            }).showToast();
        }

        // Check if there are any error messages on page load and show toast notifications accordingly
        var mailError = $("#mailError").text();
        var passwordError = $("#passwordError").text();
        if (mailError) {
            showToast(mailError, "error");
        }
        if (passwordError) {
            showToast(passwordError, "error");
        }

        // Clear error messages when typing in input fields
        $("#mail").on("input", function() {
            $("#mailError").text("");
        });
        $("#password").on("input", function() {
            $("#passwordError").text("");
        });
    });
</script>
</body>
</html>
