
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .dsds {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            padding: 40px;
            margin: 50px;
            text-align: center;

        }

        h1 {
            color: #343a40;
            margin-bottom: 30px;
            margin-top: 10vh;
        }

        .btn-primary {
            background-color: #171718;
            border: none;
            border-radius: 20px;
            margin-top: 10vh;
            padding: 10px 30px;
        }

        .btn-primary:hover {
            background-color: #5c5d5e;
        }
    </style>
<body>

<div class="container-fluid dsds" style="margin: 15vh 0 12vh;">
    <h1>Your Order is Complete!</h1>
    <p>Thank you for your purchase. Your order has been successfully processed.</p>
    <p>An invoice for your order is available for download.</p>
    <a href="invoice" class="btn btn-primary">Download Invoice</a>
</div>
