
<div style="margin-bottom: 100vh;" class="container searchcopp">
  <div class="input-group mb-3">
    <input type="text" class="form-control" id="searchInput" placeholder="Search products">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
    </div>
  </div>
  <div id="productsList" class="container"></div>
</div>

<!-- Bootstrap JS and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Axios CDN -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  // Function to search for products
  function searchProducts() {
    const searchQuery = document.getElementById('searchInput').value.trim();
    console.log(searchQuery)
    // Send an Axios POST request to your backend server to search for products
    axios.post('/searchproduct', { query: searchQuery })
      .then(response => {
        // Clear previous search results
        document.getElementById('productsList').innerHTML = '';
        // Display search results
response.data.forEach(product => {
  const productHTML = `
  <a class="text-decoration-none text-dark" href="productdetail?id=${product._id}">
    <div class="col-12">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-10">
            <div class="card-body">
              <h5 class="card-title">${product.name}</h5>
              <p class="card-text">Category: ${product.category}</p>
              <p class="card-text">Edition: ${product.variant}</p>
              <p class="card-text">${product.description}</p>
            </div>
          </div>
          <div class="col-2">
            <img class="card-img" src="${product.image[0]}" alt="Product Image">
          </div>
        </div>
      </div>
    </div></a>
  `;
          document.getElementById('productsList').innerHTML += productHTML;
        });
      })
      .catch(error => {
        console.error('Error searching for products:', error);
      });
  }

  // Add event listener to the search button
  document.getElementById('searchButton').addEventListener('click', searchProducts);
</script>
