

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jcclub | Signup</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/logins/login-6/assets/css/login-6.css">
    <style>
        body {
            background-size: cover;
            background-color: rgb(207, 215, 223);
        }
        .hjk {
            height: 0vh;
            background-color: aqua;
        }
        @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #254061;
    overflow: hidden;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ff4040;
    top: 9%;
    left: 83%;
    animation-duration: 172s;
    animation-delay: -120s;
    transform-origin: 18vw 25vh;
    box-shadow: 2vmin 0 0.9152691879582233vmin currentColor;
}
.background span:nth-child(1) {
    color: #ff4040;
    top: 100%;
    left: 75%;
    animation-duration: 36s;
    animation-delay: -252s;
    transform-origin: 25vw -14vh;
    box-shadow: 2vmin 0 0.8725515636287574vmin currentColor;
}
.background span:nth-child(2) {
    color: #ccf2b9;
    top: 36%;
    left: 14%;
    animation-duration: 392s;
    animation-delay: -106s;
    transform-origin: 19vw -23vh;
    box-shadow: -2vmin 0 0.5247894986201279vmin currentColor;
}
.background span:nth-child(3) {
    color: #804480;
    top: 78%;
    left: 58%;
    animation-duration: 287s;
    animation-delay: -193s;
    transform-origin: 0vw 21vh;
    box-shadow: 2vmin 0 1.1886467595826018vmin currentColor;
}
.background span:nth-child(4) {
    color: #ff4040;
    top: 71%;
    left: 67%;
    animation-duration: 64s;
    animation-delay: -397s;
    transform-origin: 0vw -17vh;
    box-shadow: -2vmin 0 0.9982826005448613vmin currentColor;
}
.background span:nth-child(5) {
    color: #804480;
    top: 58%;
    left: 99%;
    animation-duration: 439s;
    animation-delay: -452s;
    transform-origin: 8vw -1vh;
    box-shadow: 2vmin 0 0.9925635199967189vmin currentColor;
}
.background span:nth-child(6) {
    color: #804480;
    top: 68%;
    left: 88%;
    animation-duration: 336s;
    animation-delay: -283s;
    transform-origin: 10vw 10vh;
    box-shadow: -2vmin 0 1.159474089589542vmin currentColor;
}
.background span:nth-child(7) {
    color: #804480;
    top: 35%;
    left: 79%;
    animation-duration: 383s;
    animation-delay: -34s;
    transform-origin: 15vw 5vh;
    box-shadow: 2vmin 0 1.0300395123032686vmin currentColor;
}
.background span:nth-child(8) {
    color: #804480;
    top: 26%;
    left: 89%;
    animation-duration: 388s;
    animation-delay: -251s;
    transform-origin: 14vw -17vh;
    box-shadow: 2vmin 0 0.8905626387170004vmin currentColor;
}
.background span:nth-child(9) {
    color: #ff4040;
    top: 82%;
    left: 43%;
    animation-duration: 99s;
    animation-delay: -469s;
    transform-origin: -15vw 23vh;
    box-shadow: -2vmin 0 0.9597727420498855vmin currentColor;
}
.background span:nth-child(10) {
    color: #804480;
    top: 43%;
    left: 85%;
    animation-duration: 246s;
    animation-delay: -318s;
    transform-origin: 9vw 21vh;
    box-shadow: -2vmin 0 0.7468135737987346vmin currentColor;
}
.background span:nth-child(11) {
    color: #ff4040;
    top: 88%;
    left: 59%;
    animation-duration: 358s;
    animation-delay: -438s;
    transform-origin: -24vw -14vh;
    box-shadow: 2vmin 0 0.6741388604903825vmin currentColor;
}
.background span:nth-child(12) {
    color: #ff4040;
    top: 1%;
    left: 42%;
    animation-duration: 49s;
    animation-delay: -443s;
    transform-origin: -5vw -18vh;
    box-shadow: 2vmin 0 0.7752003101905035vmin currentColor;
}
.background span:nth-child(13) {
    color: #ff4040;
    top: 67%;
    left: 57%;
    animation-duration: 342s;
    animation-delay: -440s;
    transform-origin: 3vw -2vh;
    box-shadow: -2vmin 0 1.23395634436673vmin currentColor;
}
.background span:nth-child(14) {
    color: #804480;
    top: 14%;
    left: 42%;
    animation-duration: 490s;
    animation-delay: -205s;
    transform-origin: 19vw 5vh;
    box-shadow: -2vmin 0 0.4840943322383895vmin currentColor;
}
.background span:nth-child(15) {
    color: #ff4040;
    top: 59%;
    left: 13%;
    animation-duration: 249s;
    animation-delay: -375s;
    transform-origin: 17vw 14vh;
    box-shadow: -2vmin 0 0.8791733809808729vmin currentColor;
}
.background span:nth-child(16) {
    color: #ccf2b9;
    top: 30%;
    left: 68%;
    animation-duration: 439s;
    animation-delay: -214s;
    transform-origin: 16vw 15vh;
    box-shadow: -2vmin 0 0.53565112062052vmin currentColor;
}
.background span:nth-child(17) {
    color: #ff4040;
    top: 31%;
    left: 84%;
    animation-duration: 109s;
    animation-delay: -229s;
    transform-origin: 19vw 13vh;
    box-shadow: -2vmin 0 0.8065085169146192vmin currentColor;
}
.background span:nth-child(18) {
    color: #ccf2b9;
    top: 19%;
    left: 95%;
    animation-duration: 213s;
    animation-delay: -85s;
    transform-origin: -13vw 6vh;
    box-shadow: 2vmin 0 0.30301439721706946vmin currentColor;
}
.background span:nth-child(19) {
    color: #ff4040;
    top: 13%;
    left: 52%;
    animation-duration: 365s;
    animation-delay: -63s;
    transform-origin: 14vw -17vh;
    box-shadow: -2vmin 0 0.8734951616620594vmin currentColor;
}
.background span:nth-child(20) {
    color: #804480;
    top: 46%;
    left: 87%;
    animation-duration: 135s;
    animation-delay: -160s;
    transform-origin: -19vw 13vh;
    box-shadow: 2vmin 0 0.8268839965771175vmin currentColor;
}
.background span:nth-child(21) {
    color: #ff4040;
    top: 45%;
    left: 25%;
    animation-duration: 215s;
    animation-delay: -160s;
    transform-origin: -2vw -15vh;
    box-shadow: -2vmin 0 0.27507155653810833vmin currentColor;
}
.background span:nth-child(22) {
    color: #ff4040;
    top: 96%;
    left: 60%;
    animation-duration: 200s;
    animation-delay: -216s;
    transform-origin: -22vw 25vh;
    box-shadow: 2vmin 0 0.4253061533816639vmin currentColor;
}
.background span:nth-child(23) {
    color: #ccf2b9;
    top: 96%;
    left: 5%;
    animation-duration: 32s;
    animation-delay: -283s;
    transform-origin: -21vw -1vh;
    box-shadow: -2vmin 0 0.3290317205018114vmin currentColor;
}
.background span:nth-child(24) {
    color: #804480;
    top: 13%;
    left: 85%;
    animation-duration: 147s;
    animation-delay: -167s;
    transform-origin: -19vw -7vh;
    box-shadow: -2vmin 0 0.6564794761871784vmin currentColor;
}
.background span:nth-child(25) {
    color: #ff4040;
    top: 43%;
    left: 54%;
    animation-duration: 348s;
    animation-delay: -348s;
    transform-origin: -12vw -20vh;
    box-shadow: -2vmin 0 0.7239477066645182vmin currentColor;
}
.background span:nth-child(26) {
    color: #ff4040;
    top: 68%;
    left: 14%;
    animation-duration: 51s;
    animation-delay: -329s;
    transform-origin: -1vw 7vh;
    box-shadow: -2vmin 0 0.6723359489676523vmin currentColor;
}
.background span:nth-child(27) {
    color: #ff4040;
    top: 28%;
    left: 92%;
    animation-duration: 239s;
    animation-delay: -403s;
    transform-origin: 18vw -1vh;
    box-shadow: 2vmin 0 0.5359951028500695vmin currentColor;
}
.background span:nth-child(28) {
    color: #804480;
    top: 90%;
    left: 36%;
    animation-duration: 166s;
    animation-delay: -3s;
    transform-origin: -15vw 3vh;
    box-shadow: -2vmin 0 0.8920050198634238vmin currentColor;
}
.background span:nth-child(29) {
    color: #ff4040;
    top: 45%;
    left: 94%;
    animation-duration: 215s;
    animation-delay: -147s;
    transform-origin: 4vw -17vh;
    box-shadow: -2vmin 0 0.5512130423212301vmin currentColor;
}
.background span:nth-child(30) {
    color: #ccf2b9;
    top: 30%;
    left: 46%;
    animation-duration: 92s;
    animation-delay: -441s;
    transform-origin: 17vw 18vh;
    box-shadow: -2vmin 0 1.1219003764096025vmin currentColor;
}
.background span:nth-child(31) {
    color: #ccf2b9;
    top: 32%;
    left: 64%;
    animation-duration: 464s;
    animation-delay: -147s;
    transform-origin: -11vw -23vh;
    box-shadow: 2vmin 0 0.5155982993887783vmin currentColor;
}
.background span:nth-child(32) {
    color: #804480;
    top: 25%;
    left: 92%;
    animation-duration: 426s;
    animation-delay: -297s;
    transform-origin: -14vw 18vh;
    box-shadow: -2vmin 0 0.5301389441060539vmin currentColor;
}
.background span:nth-child(33) {
    color: #ff4040;
    top: 94%;
    left: 88%;
    animation-duration: 475s;
    animation-delay: -170s;
    transform-origin: 6vw -24vh;
    box-shadow: 2vmin 0 0.49129372302578167vmin currentColor;
}
.background span:nth-child(34) {
    color: #ccf2b9;
    top: 51%;
    left: 63%;
    animation-duration: 442s;
    animation-delay: -189s;
    transform-origin: -22vw -23vh;
    box-shadow: 2vmin 0 1.1574126486600722vmin currentColor;
}
.background span:nth-child(35) {
    color: #ccf2b9;
    top: 44%;
    left: 26%;
    animation-duration: 79s;
    animation-delay: -344s;
    transform-origin: -11vw 21vh;
    box-shadow: -2vmin 0 0.46564902737951164vmin currentColor;
}
.background span:nth-child(36) {
    color: #804480;
    top: 16%;
    left: 82%;
    animation-duration: 335s;
    animation-delay: -410s;
    transform-origin: -15vw -11vh;
    box-shadow: -2vmin 0 0.8235281742150397vmin currentColor;
}
.background span:nth-child(37) {
    color: #ccf2b9;
    top: 44%;
    left: 21%;
    animation-duration: 23s;
    animation-delay: -460s;
    transform-origin: 24vw 5vh;
    box-shadow: -2vmin 0 0.6600100532625902vmin currentColor;
}
.background span:nth-child(38) {
    color: #804480;
    top: 32%;
    left: 40%;
    animation-duration: 55s;
    animation-delay: -321s;
    transform-origin: -20vw -13vh;
    box-shadow: -2vmin 0 0.6917822895263822vmin currentColor;
}
.background span:nth-child(39) {
    color: #804480;
    top: 34%;
    left: 98%;
    animation-duration: 26s;
    animation-delay: -83s;
    transform-origin: -10vw -18vh;
    box-shadow: 2vmin 0 0.5922675612783292vmin currentColor;
}
.background span:nth-child(40) {
    color: #ccf2b9;
    top: 27%;
    left: 42%;
    animation-duration: 74s;
    animation-delay: -365s;
    transform-origin: -24vw -10vh;
    box-shadow: 2vmin 0 1.0609244274327074vmin currentColor;
}
.background span:nth-child(41) {
    color: #804480;
    top: 16%;
    left: 50%;
    animation-duration: 138s;
    animation-delay: -136s;
    transform-origin: -23vw 3vh;
    box-shadow: 2vmin 0 0.9828556387296975vmin currentColor;
}
.background span:nth-child(42) {
    color: #ccf2b9;
    top: 86%;
    left: 42%;
    animation-duration: 310s;
    animation-delay: -376s;
    transform-origin: 22vw -3vh;
    box-shadow: 2vmin 0 0.35518701131334207vmin currentColor;
}
.background span:nth-child(43) {
    color: #ff4040;
    top: 63%;
    left: 99%;
    animation-duration: 223s;
    animation-delay: -189s;
    transform-origin: -20vw -1vh;
    box-shadow: 2vmin 0 0.9089100860448113vmin currentColor;
}
.background span:nth-child(44) {
    color: #ff4040;
    top: 47%;
    left: 4%;
    animation-duration: 489s;
    animation-delay: -404s;
    transform-origin: 17vw 4vh;
    box-shadow: 2vmin 0 1.014747207662964vmin currentColor;
}
.background span:nth-child(45) {
    color: #ff4040;
    top: 34%;
    left: 59%;
    animation-duration: 466s;
    animation-delay: -234s;
    transform-origin: 3vw -5vh;
    box-shadow: -2vmin 0 0.9206849089555448vmin currentColor;
}
.background span:nth-child(46) {
    color: #ccf2b9;
    top: 57%;
    left: 1%;
    animation-duration: 256s;
    animation-delay: -6s;
    transform-origin: 2vw -1vh;
    box-shadow: -2vmin 0 0.779050068589645vmin currentColor;
}
.background span:nth-child(47) {
    color: #804480;
    top: 48%;
    left: 69%;
    animation-duration: 347s;
    animation-delay: -366s;
    transform-origin: -7vw 20vh;
    box-shadow: -2vmin 0 0.5914030723938485vmin currentColor;
}
.background span:nth-child(48) {
    color: #804480;
    top: 80%;
    left: 13%;
    animation-duration: 244s;
    animation-delay: -173s;
    transform-origin: 2vw 22vh;
    box-shadow: -2vmin 0 0.9571383045196744vmin currentColor;
}
.background span:nth-child(49) {
    color: #ccf2b9;
    top: 76%;
    left: 69%;
    animation-duration: 478s;
    animation-delay: -395s;
    transform-origin: 25vw 9vh;
    box-shadow: 2vmin 0 1.1090476015252704vmin currentColor;
}

    </style>
</head>
<body>
       <div class="background">
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
</div>
    <section  class=" pb-md-5 ">
        <div style="margin-top: 10vh;" class="container">
            <div class="row justify-content-center">
                <div class="col-11 col-md-9 col-lg-5 col-xl-5 col-xxl-5">
                    <div class="card border-0 shadow-lg rounded-4">
                        <div class="card-body p-3 p-md-4 p-xl-5">
                            <div class="row">
                                <div class="align align-items-end d-flex justify-content-end">
                                    <a href="/login"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                                    </svg>
                                    </a>
                                </div>
                                <div class="col-12 align-content-center text-center">
                                    <div class="mb-5">
                                        <h3>Create Account</h3>
                                    </div>
                                </div>
                            </div>
                            <form action="signup" method="post" >
                                <div class="row gy-1 overflow-hidden">
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="firstName" required>
                                            <label for="firstName" class="form-label">First Name</label>
                                        </div>
                                        <p id="errorFirstName" style="color: red;"></p>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="lastName" required>
                                            <label for="lastName" class="form-label">Last Name</label>
                                        </div>
                                        <p id="errorLastName" style="color: red;"></p>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" name="mail" id="mail" placeholder="Optional">
                                            <label for="mail" class="form-label">Email</label>
                                        </div>
                                        {{#if mailError}}
                                        <p style="color: red;">{{mailError}}</p>
                                        {{/if}}
                                        <p id="errorMail" style="color: red;"></p>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="Phone Number" required>
                                            <label for="phoneNumber" class="form-label">Phone Number</label>
                                        </div>
                                        <p id="errorPhoneNumber" style="color: red;"></p>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" name="password" id="password" placeholder="E" required>
                                            <label for="password" class="form-label">Password</label>
                                        </div>
                                        <p id="errorPassword" style="color: red;"></p>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <a class="text-decoration-non" href="/login"><p class=" link-secondary text-decoration-none">Already having account?</p></a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button id="signupBtn" class="btn bsb-btn-lg btn-dark" type="submit" >Signup</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#firstName, #lastName, #mail, #phoneNumber, #password').on('input', function() {
                validateInputs();
                localStorage.setItem('signupSuccess', 'true');
            });

            function validateInputs() {
                var isValid = true;
                $('input').each(function() {
                    var errorId = '#error' + $(this).attr('id').charAt(0).toUpperCase() + $(this).attr('id').slice(1);
                    if ($(this).val() === '') {
                        $(errorId).text('This field is required.');
                        isValid = false;
                    } else {
                        $(errorId).text('');
                    }
                });

                // Validate first name and last name format
                var firstName = $('#firstName').val();
                var lastName = $('#lastName').val();
                var charRegex = /^[a-zA-Z]*$/; // Only characters allowed
                if (!charRegex.test(firstName)) {
                    $('#errorFirstName').text('First name must contain only characters.');
                    isValid = false;
                } else {
                    $('#errorFirstName').text('');
                }
                if (!charRegex.test(lastName)) {
                    $('#errorLastName').text('Last name must contain only characters.');
                    isValid = false;
                } else {
                    $('#errorLastName').text('');
                }

                // Validate email format
                var email = $('#mail').val();
                if (!validateEmail(email)) {
                    $('#errorMail').text('Please enter a valid email address.');
                    isValid = false;
                } else {
                    $('#errorMail').text('');
                }

                // Validate phone number format
                var phoneNumber = $('#phoneNumber').val();
                if (!validatePhoneNumber(phoneNumber)) {
                    $('#errorPhoneNumber').text('Please enter a valid phone number.');
                    isValid = false;
                } else {
                    $('#errorPhoneNumber').text('');
                }

                // Validate password format
                var password = $('#password').val();
                if (!validatePassword(password)) {
                    $('#errorPassword').text('Password must contain at least one uppercase letter and one digit.');
                    isValid = false;
                } else {
                    $('#errorPassword').text('');
                }

            }

            // Email validation function
            function validateEmail(email) {
                var regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return regex.test(email);
            }

            // Phone number validation function
            function validatePhoneNumber(phoneNumber) {
                var regex = /^\d{10}$/; // 10 digits exactly
                return regex.test(phoneNumber);
            }

            // Password validation function
            function validatePassword(password) {
                var upperCaseRegex = /[A-Z]/;
                var digitRegex = /\d/;
                return upperCaseRegex.test(password) && digitRegex.test(password);
            }
        });
    </script>
</body>
</html>
